*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FFFFFF;
    color: #111827;
    height:10vh;
    position: sticky;
    top:0;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
li{
    list-style-type: none;
    font-size: 1.6rem;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 10px;
}
.home{
    background-color:#F5F7FA;
    color: #1E3A8A;
    height: 30vh;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    font-size: 1.6rem;
}
#btn{
    padding:5px 30px;
    background-color: rgb(226, 57, 170);
    border:2px solid black;
}
#btn1{
    padding:5px 30px;
    background-color: rgb(226, 57, 170);
    border:2px solid black;
}
#btn:hover{
    background-color: rgb(73, 5, 161);
    color:white;
    border:2px solid black;
}
#btn1:hover{
    background-color: rgb(73, 5, 161);
    color:white;
    border:2px solid black;
}
.about{
    height: 40vh;
    background-color: #FFFBEB;
    color: #78350F;
    font-size: 1.4rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    font-family:'Times New Roman', Times, serif;
}
#btn2{
    padding:5px 30px;
    background-color: rgb(226, 57, 170);
    border:2px solid black;
}
#btn2:hover{
    background-color: rgb(73, 5, 161);
    color:white;
    border:2px solid black;
}
.skills{
    height: 65vh;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-left: 80px;

}
.skill1{
    display: flex;
    align-content: center;
    font-size: 1.3rem;
}
#img1{
    margin-left:20px;
    margin-right: 20px;
    padding-left: 10px;
}
.skill2{
    display: flex;
    align-content: center;
    font-size: 1.3rem;
}
#img2{
    margin-left:20px;
    margin-right: 20px;
    padding-left: 10px;
}
.qualification{
    height: 48vh;
    background-color: rgb(67, 67, 187);
    color: white;
    /* display: grid;
    grid-template-rows: 200px 200px 200px; */
    font-size: 1.4rem;
    padding-left: 80px;
    padding-top: 15px;
}
.resume{
    height: 20vh;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 1.4rem;
    background-color: antiquewhite;
    color: black;
}
.contact{
    height: 800px;
    background-color: black;
    color: white;
    padding-left: 80px;
    padding-top: 15px;
    font-size: 1.4rem;
}
.logo{
    display: flex;
}
#t1{
    padding:5px 50px;
}
#e1{
    padding:5px 50px;
}
footer{
    height: 5vh;
    background-color: azure;
    color: black;
    font-size: 1.4rem;
    text-align: center;
}
@media screen and (max-width:500px){
    header{
        background-color: #FFFFFF;
        color: #111827;
        height:66px;
        width:600px;
        position: sticky;
        top:0;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    li{
        font-size: 12px;
    }
    .home{
    background-color:#F5F7FA;
    color: #1E3A8A;
    height: 15vh;
    width:600px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 16px;
    }
    #btn{
        padding:2px 5px;
        background-color: rgb(226, 57, 170);
        border:2px solid black;
    }
    #btn1{
        padding:2px 5px;
        background-color: rgb(226, 57, 170);
        border:2px solid black;
    }
    #btn:hover{
        background-color: rgb(73, 5, 161);
        color:white;
        border:2px solid black;
    }
    #btn1:hover{
        background-color: rgb(73, 5, 161);
        color:white;
        border:2px solid black;
    }
    .about{
    height: 400px;
    width:600px;
    background-color: #FFFBEB;
    color: #78350F;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-family:'Times New Roman', Times, serif;
    }
    #btn2{
        padding:2px 5px;
        background-color: rgb(226, 57, 170);
        border:2px solid black;
    }
    #btn2:hover{
        background-color: rgb(73, 5, 161);
        color:white;
        border:2px solid black;
    }
    .skills{
    height: 600px;
    width: 600px;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-left: 20px;

    }
    .skill1{
        display: flex;
        align-content: center;
        font-size:20px;
    }
    #img1{
        margin-top: 15px;
        margin-left:10px;
        margin-right: 20px;
        padding-left: 10px;
    }
    .skill2{
        display: flex;
        align-content: center;
        font-size: 20px;
    }
    #img2{
        margin-left:20px;
        margin-right: 20px;
        padding-left: 10px;
    }
    .qualification{
    height: 300px;
    width:600px;
    background-color: rgb(67, 67, 187);
    color: white;
    /* display: grid;
    grid-template-rows: 200px 200px 200px; */
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    }
    .resume{
        height: 15vh;
        width: 600px;
        padding-left: 20px;
        padding-top: 10px;
        font-size:20px;
        background-color: antiquewhite;
        color: black;
    }
    .contact{
    height: 800px;
    width: 600px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    }
    .logo{
        display: flex;
    }
    #t1{
        padding:5px 50px;
    }
    #e1{
        padding:5px 50px;
    }
    footer{
        height: 5vh;
        background-color: azure;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
}


